:root {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
  --dark-mode-items: #2a3042;
  --dark-mode-text: #a6b0cf;
  --dark-mode-bg: #222736;
  --dark-mode-gray-700: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
}

.element {
  background-color: var(--dark-mode-items);
}

a {
  text-decoration: none;
}

.sidebar {
  /* width: 20vw; */
  width: 300px;
  min-height: 100vh;
  color: var(--dark-mode-text);
  position: relative;
  transition: width 150ms ease-in;
}

.sidebar a {
  text-decoration: none;
  color: var(--dark-mode-text);
  white-space: nowrap;
}

.sidebar .logo {
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .logo img {
  height: 2.3rem;
}

.logo .small {
  display: none;
}

.closed.sidebar {
  width: 70px;
  transition: width 150ms ease-in;
}

.closedDeets {
  display: none;
}

.closed.sidebar .deets {
  display: none;
}

.layout {
  display: flex;
  height: 100%;
  background-color: var(--dark-mode-bg);
  min-height: 100vh;
}

.sidebar .deets {
  display: flex;
  flex-direction: column;
  padding: 2rem 3rem;
  gap: 3rem;
  max-width: auto;
}

.closed.sidebar .closedDeets {
  display: block;
  background-color: var(--dark-mode-items);
}

.closed.sidebar .closedDeets ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.closed.sidebar .closedDeets ul li {
  width: 100%;
  overflow-x: visible;
}

.closed.sidebar .closedDeets ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  height: 6rem;
  position: relative;
}

.closed.sidebar .closedDeets ul li a:hover {
  background-color: #262b3c;
  color: var(--dark-mode-gray-700);
}

.closed.sidebar .closedDeets ul li a:hover .content {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  right: -16rem;
  top: 0;
  width: 15rem;
  height: 6rem;
}

.closed.sidebar .closedDeets .content {
  display: none;
  background-color: #262b3c;
  color: var(--dark-mode-gray-700);
}

ul {
  list-style: none;
}

.deets ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sidebar .icon {
  font-size: 1.75rem;
}

.deets ul li a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 1.25rem;
  font-weight: 500;
  transition: 0.35s color ease-in;
}

.deets ul li a:hover {
  color: white;
  transition: 0.35s color ease-in;
}

.sidebar .activeLink {
  color: white;
}

.mainLayout {
  width: 100%;
  height: 100%;
}

.Navbar {
  height: 7rem;
  background-color: rgb(38, 43, 60);
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  color: var(--dark-mode-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  padding: 0 2rem;
}

.Navbar .left,
.Navbar .right {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.Navbar svg {
  cursor: pointer;
}

.search {
  display: none;
}

.left form {
  display: flex;
  align-items: center;
  background-color: var(--dark-mode-items);
  border-radius: 20px;
  padding: 1rem 1.25rem;
  gap: 1rem;
  font-size: 1.75rem;
}

.left input {
  width: 20vw;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--dark-mode-gray-700);
}

.left input::placeholder {
  color: var(--dark-mode-text);
}

.Navbar .right .notification {
  position: relative;
}

.right .notification .number {
  position: absolute;
  right: -1rem;
  top: -1rem;
  background-color: red;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
}

.bell {
  animation: swing 2s infinite;
}

@keyframes swing {
  0% {
    scale: 1.1;
    transform: rotate(0deg);
  }
  12.5% {
    scale: 1.1;
    transform: rotate(15deg);
  }
  25% {
    scale: 1.1;
    transform: rotate(-15deg);
  }
  37.5% {
    scale: 1.1;
    transform: rotate(15deg);
  }
  50% {
    scale: 1.1;
    transform: rotate(-15deg);
  }
  62.5% {
    scale: 1.1;
    transform: rotate(15deg);
  }
  75% {
    scale: 1.1;
    transform: rotate(-15deg);
  }
  100% {
    scale: 1;
    transform: rotate(0deg);
  }
}

.settings {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.user img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.Navbar .deets {
  display: none;
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: -30rem;
    width: 7rem;
  }

  .closed.sidebar {
    left: 0;
    position: relative;
  }

  .sidebar .logo img {
    display: none !important;
  }

  .sidebar .logo img.small {
    display: block !important;
  }
}

@media screen and (max-width: 480px) {
  .sidebar {
    display: none;
  }

  .closed.sidebar {
    display: none;
  }

  .user span,
  .user svg {
    display: none;
  }

  .left form {
    display: none;
  }

  .Navbar {
    position: relative;
  }

  .Navbar .deets {
    position: absolute;
    height: calc(100vh - 7rem);
    bottom: calc((100vh - 7rem) * -1);
    left: 0;
    background-color: var(--dark-mode-items);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .Navbar .deets h3,
  .Navbar .deets ul {
    padding: 0rem 2rem;
  }

  .Navbar .deets h3 {
    font-size: 1rem;
    padding-top: 1.5rem;
  }

  .Navbar .deets ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .Navbar .deets ul li a {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    gap: 1.25rem;
    font-weight: 500;
    transition: 0.35s color ease-in;
    color: var(--dark-mode-text);
    white-space: nowrap;
  }

  .Navbar .deets ul li a:hover {
    color: white;
    transition: 0.35s color ease-in;
  }

  .search {
    display: block;
  }
}
